{% extends 'base.html' %}

{% block content %}
<h2 style="text-align:center;color:red;">RESUME LIST</h2>
{% for post in object_list %}
<div style="margin-top:2px;">


<div class="card container " style="margin-top:5px;">
    <h3 class="card-header" ><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
  <div class="card-body">
      <h5 class="card-title">{{ post.technical_skills }}</h5>
    <p class="card-text">{{ post.description }}</p>
    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">more</a>
  </div>
</div>
</div>
{% endfor %}
{% endblock content %}